# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings


PRIVATE_KEY=Metamask->3 dots menu->Account details->Show private key->password->Hold to reveal private key->copy

INFURA_KEY=https://app.infura.io/->Copy api key to clipboard

API_SECRET="dummy-api-secret"
